@import "tailwindcss";

@layer utilities {
  .animate-spin-slow {
    animation: spinY 4s infinite linear;
  }
  @keyframes spinY {
    0%   { transform: rotateX(-360deg) rotateY(-360deg); }
    12.5%   { transform: rotateX(-270deg) rotateY(-270deg); }
    25%   { transform: rotateX(-180deg) rotateY(-180deg); }
    37.5%   { transform: rotateX(-90deg) rotateY(-90deg); }
    50%   { transform: rotateX(0deg) rotateY(0deg); }
    62.5%   { transform: rotateX(90deg) rotateY(90deg); }
    75%   { transform: rotateX(180deg) rotateY(180deg); }
    87.5%   { transform: rotateX(270deg) rotateY(270deg); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
  }
}